.contactContainer{
    display: flex;
    padding: 10px 30px;
}
.header{
    display: flex;
    background-color: rgb(76 127 193);
    padding: 20px 10px
}
.headerLeft{
    font-size: 22px;
    color: white;
    font-family: Arial,sans-serif;
}
.headerRight{
    display: flex;
    text-align: right;
}
.search{
    width: 50%;
    border-radius: 4px;
    background-color: #fafafa;
    margin-right: 20px;
}
.AddButton{
    width: 90%;
    border-radius: 8px;
    color: #5f6368;
    font-weight: 500;
}
.ButtonSubmit{
    text-align: center;
}
.savebutton{
    border-radius: 4px;
    width: 100px;
}
.yellowBackground{
    color: red;
}
.transparentBackground{
    color: blue;
}